com.metamatrix.modeler.core.test/testdata/cloneProject/MMFinancials/EnterpriseDataModel/DataDictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mmedt="http://www.metamatrix.com/2005/XmlSchema/EnterpriseDatatypes">
    <simpleType mmedt:UUID="mmuuid:e32dfb00-e551-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="MiddleInitial">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:97eb1ec0-e55b-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="City">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:c9e07b00-e560-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="StateProvince">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:ac83e2c0-e56c-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="PostalCode">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:cc971c40-e570-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="Country">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:f140c340-e573-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="PhoneNumber">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:6bde9640-e579-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="long" mmedt:runtimeDataTypeFixed="false" name="AccountID">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="long">
      <minInclusive fixed="false" value="0"/>
    </restriction>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:e0b3cf40-e57d-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="AccountType">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:da220f80-e595-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="AccountStatus">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:95a7b540-e599-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="date" mmedt:runtimeDataTypeFixed="false" name="DateOpened">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="date"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:ca893f80-e59f-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="date" mmedt:runtimeDataTypeFixed="false" name="DateClosed">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="date"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:e8e27780-e5a4-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="TransactionID">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:a1b9f7c0-e5a9-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="ProductID">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:d7be6c40-e5b1-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="float" mmedt:runtimeDataTypeFixed="false" name="ProductShares">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="float"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:8b1a9d40-e5b7-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="date" mmedt:runtimeDataTypeFixed="false" name="PurchaseDate">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="date"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:dadd5e80-e5bc-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="Symbol">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:7dae0340-ef5d-1f0c-9f0a-faed34cf7043" mmedt:runtimeDataType="integer" mmedt:runtimeDataTypeFixed="false" name="SymbolType">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="integer"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:081d4900-e5c2-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="CUSIP">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:b3d75a80-e5c5-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="ProductName">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:ec2ce7c0-e5c9-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="ProductType">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:90ff7300-e5d2-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="Issuer">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:012e7c80-e5d7-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="Exchange">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:36d5e440-e5dc-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="PrimaryBusiness">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:f65ae040-e5e1-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="boolean" mmedt:runtimeDataTypeFixed="false" name="DJIComponent">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="boolean"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:6881f3c0-e5e7-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="boolean" mmedt:runtimeDataTypeFixed="false" name="SP500Component">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="boolean"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:f2067940-e5ec-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="boolean" mmedt:runtimeDataTypeFixed="false" name="NASD100Component">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="boolean"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:33c769c0-e5f2-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="boolean" mmedt:runtimeDataTypeFixed="false" name="AMEXINTComponent">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="boolean"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:c79c3440-e5f8-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="double" mmedt:runtimeDataTypeFixed="false" name="LastTradePrice">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:3a986780-e5fd-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="date" mmedt:runtimeDataTypeFixed="false" name="LastTradeDate">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="date"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:3199d300-e600-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="time" mmedt:runtimeDataTypeFixed="false" name="LastTradeTime">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="time"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:63cd37c0-e607-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="double" mmedt:runtimeDataTypeFixed="false" name="DaysHigh">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:140e7480-e60a-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="double" mmedt:runtimeDataTypeFixed="false" name="DaysLow">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:17a579c0-e611-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="long" mmedt:runtimeDataTypeFixed="false" name="TotalVolume">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="long"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:0b61a880-e618-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="double" mmedt:runtimeDataTypeFixed="false" name="PercentageChange">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:94d6ebc0-e61d-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="CustomerID">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:fb8ad000-e61f-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="FirstName">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:9a183080-e622-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="LastName">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:4c327300-e625-1f0c-b503-9d47f4972726" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="StreetAddress">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:0195d240-61e1-1f0e-aa31-8607480140af" mmedt:runtimeDataType="double" mmedt:runtimeDataTypeFixed="false" name="Value">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:752b0800-4209-1f1b-9a2a-a1005720429a" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="OpeningPrice">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="double"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:7b8f4fc0-6f94-1f59-b725-e7010a5dc805" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="BrokerID">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:a5993fc0-6f9d-1f59-b725-e7010a5dc805" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="BrokerLastName">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType mmedt:UUID="mmuuid:746dbf00-6f9f-1f59-b725-e7010a5dc805" mmedt:runtimeDataType="string" mmedt:runtimeDataTypeFixed="false" name="BrokerFirstName">
        <annotation>
            <appinfo/>
        </annotation>
        <restriction base="string"/>
    </simpleType>
</schema>
