org.teiid.designer.metamodels.wsdl.test/testdata/MsDotNetGenerated.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:s0="http://tempuri.org/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	targetNamespace="http://tempuri.org/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="test">
				<s:complexType/>
			</s:element>
			<s:element name="testResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="testResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</types>
	<message name="testSoapIn">
		<part name="parameters" element="s0:test"/>
	</message>
	<message name="testSoapOut">
		<part name="parameters" element="s0:testResponse"/>
	</message>
	<portType name="Service1Soap">
		<operation name="test">
			<input message="s0:testSoapIn"/>
			<output message="s0:testSoapOut"/>
		</operation>
	</portType>
	<binding name="Service1Soap" type="s0:Service1Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="test">
			<soap:operation soapAction="http://tempuri.org/test" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Service1">
		<port name="Service1Soap" binding="s0:Service1Soap">
			<soap:address location="http://localhost/WebService4/Service1.asmx"/>
		</port>
	</service>
</definitions>
