org.teiid.designer.metamodels.wsdl.test/testdata/wsdlprefixed.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.metamatrix/Books" xmlns:schema1="http://www.metamatrix.com/Books_Oracle_8i_Input" xmlns:schema2="http://www.metamatrix.com/Books_Oracle_8i_Output" name="MetaMatrixDataServices" targetNamespace="http://com.metamatrix/Books">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.metamatrix/Books">
      <xsd:import namespace="http://www.metamatrix.com/Books_Oracle_8i_Input" schemaLocation="Books_Oracle_8i_Input.xsd" />
      <xsd:import namespace="http://www.metamatrix.com/Books_Oracle_8i_Output" schemaLocation="Books_Oracle_8i_Output.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_InputMsg">
    <wsdl:documentation>Input message for operation Books_Oracle_8i_AUTHORS/getAUTHORS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_InputMsg" element="schema1:AUTHORS_Input" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_OutputMsg">
    <wsdl:documentation>Output message for operation Books_Oracle_8i_AUTHORS/getAUTHORS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_OutputMsg" element="schema2:AUTHORS_Output" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_InputMsg">
    <wsdl:documentation>Input message for operation Books_Oracle_8i_BOOKS/getBOOKS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_InputMsg" element="schema1:BOOKS_Input" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_OutputMsg">
    <wsdl:documentation>Output message for operation Books_Oracle_8i_BOOKS/getBOOKS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_OutputMsg" element="schema2:BOOKS_Output" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_InputMsg">
    <wsdl:documentation>Input message for operation Books_Oracle_8i_BOOK_AUTHORS/getBOOK_AUTHORS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_InputMsg" element="schema1:BOOK_AUTHORS_Input" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_OutputMsg">
    <wsdl:documentation>Output message for operation Books_Oracle_8i_BOOK_AUTHORS/getBOOK_AUTHORS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_OutputMsg" element="schema2:BOOK_AUTHORS_Output" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_InputMsg">
    <wsdl:documentation>Input message for operation Books_Oracle_8i_PUBLISHERS/getPUBLISHERS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_InputMsg" element="schema1:PUBLISHERS_Input" />
  </wsdl:message>
  <wsdl:message name="Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_OutputMsg">
    <wsdl:documentation>Output message for operation Books_Oracle_8i_PUBLISHERS/getPUBLISHERS.</wsdl:documentation>
    <wsdl:part name="Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_OutputMsg" element="schema2:PUBLISHERS_Output" />
  </wsdl:message>
  <wsdl:portType name="Books_Oracle_8i_AUTHORS">
    <wsdl:operation name="getAUTHORS">
      <wsdl:input name="AUTHORS_InputMsg" message="tns:Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_InputMsg" />
      <wsdl:output name="AUTHORS_OutputMsg" message="tns:Books_Oracle_8i_AUTHORS_getAUTHORS_AUTHORS_OutputMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Books_Oracle_8i_BOOKS">
    <wsdl:operation name="getBOOKS">
      <wsdl:input name="BOOKS_InputMsg" message="tns:Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_InputMsg" />
      <wsdl:output name="BOOKS_OutputMsg" message="tns:Books_Oracle_8i_BOOKS_getBOOKS_BOOKS_OutputMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Books_Oracle_8i_BOOK_AUTHORS">
    <wsdl:operation name="getBOOK_AUTHORS">
      <wsdl:input name="BOOK_AUTHORS_InputMsg" message="tns:Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_InputMsg" />
      <wsdl:output name="BOOK_AUTHORS_OutputMsg" message="tns:Books_Oracle_8i_BOOK_AUTHORS_getBOOK_AUTHORS_BOOK_AUTHORS_OutputMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Books_Oracle_8i_PUBLISHERS">
    <wsdl:operation name="getPUBLISHERS">
      <wsdl:input name="PUBLISHERS_InputMsg" message="tns:Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_InputMsg" />
      <wsdl:output name="PUBLISHERS_OutputMsg" message="tns:Books_Oracle_8i_PUBLISHERS_getPUBLISHERS_PUBLISHERS_OutputMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Books_Oracle_8i_AUTHORS" type="tns:Books_Oracle_8i_AUTHORS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAUTHORS">
      <soap:operation style="document" soapAction="Books_Oracle_8i_WS.Books_Oracle_8i_AUTHORS.getAUTHORS" />
      <wsdl:input name="AUTHORS_InputMsg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AUTHORS_OutputMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Books_Oracle_8i_BOOKS" type="tns:Books_Oracle_8i_BOOKS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBOOKS">
      <soap:operation style="document" soapAction="Books_Oracle_8i_WS.Books_Oracle_8i_BOOKS.getBOOKS" />
      <wsdl:input name="BOOKS_InputMsg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BOOKS_OutputMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Books_Oracle_8i_BOOK_AUTHORS" type="tns:Books_Oracle_8i_BOOK_AUTHORS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBOOK_AUTHORS">
      <soap:operation style="document" soapAction="Books_Oracle_8i_WS.Books_Oracle_8i_BOOK_AUTHORS.getBOOK_AUTHORS" />
      <wsdl:input name="BOOK_AUTHORS_InputMsg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BOOK_AUTHORS_OutputMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Books_Oracle_8i_PUBLISHERS" type="tns:Books_Oracle_8i_PUBLISHERS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPUBLISHERS">
      <soap:operation style="document" soapAction="Books_Oracle_8i_WS.Books_Oracle_8i_PUBLISHERS.getPUBLISHERS" />
      <wsdl:input name="PUBLISHERS_InputMsg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PUBLISHERS_OutputMsg">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetaMatrixDataServices">
    <wsdl:port name="Books_Oracle_8i_AUTHORS" binding="tns:Books_Oracle_8i_AUTHORS">
      <soap:address location="http://vdb.dataservice.metamatrix.com" />
    </wsdl:port>
    <wsdl:port name="Books_Oracle_8i_BOOKS" binding="tns:Books_Oracle_8i_BOOKS">
      <soap:address location="http://vdb.dataservice.metamatrix.com" />
    </wsdl:port>
    <wsdl:port name="Books_Oracle_8i_BOOK_AUTHORS" binding="tns:Books_Oracle_8i_BOOK_AUTHORS">
      <soap:address location="http://vdb.dataservice.metamatrix.com" />
    </wsdl:port>
    <wsdl:port name="Books_Oracle_8i_PUBLISHERS" binding="tns:Books_Oracle_8i_PUBLISHERS">
      <soap:address location="http://vdb.dataservice.metamatrix.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

