org.teiid.designer.webservice.ui.test/testdata/projects/Books Project/BooksInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://metamatrix.com/books/input" xmlns:tns1="http://metamatrix.com/books/input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="getBookCollectionTypeByTitle">
        <xs:sequence>
            <xs:element name="bookName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getBookCollectionByTitleRequest" type="tns1:getBookCollectionTypeByTitle">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="getBookCollectionTypeByISBN">
        <xs:sequence>
            <xs:element name="ISBN" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getBookCollectionByISBNRequest" type="tns1:getBookCollectionTypeByISBN">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="getBookCollectionTypeByTitleOrAuthor">
        <xs:sequence>
            <xs:element name="bookName" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getBookCollectionByTitleOrAuthorRequest" type="tns1:getBookCollectionTypeByTitleOrAuthor">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
