com.metamatrix.modeler.schema.tools.test/src/sources/Namespace_NoNamespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--  "Test for modeling schemas without namespaces" -->
	<xsd:element name="Gamma" type="Alpha"></xsd:element>

	<xsd:complexType name="Alpha">
		<xsd:sequence>
			<xsd:element name="Beta" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>