org.teiid.designer.vdb.edit.test/testdata/projects/System/SystemSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  JBoss, Home of Professional Open Source.

  See the LEGAL.txt file distributed with this work for information regarding copyright ownership and licensing.

  See the AUTHORS.txt file distributed with this work for a full listing of individual contributors.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- VDB types -->
    <xs:element name="vdbs">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="vdb"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="vdb">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="version" type="xs:string"/>
                <xs:element minOccurs="0" ref="models"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Model types -->
    <xs:element name="models">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="model"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="model">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="isPhysical" type="xs:boolean"/>
                <xs:element name="supports">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="supportsDistinct" type="xs:boolean"/>
                            <xs:element name="supportsJoin" type="xs:boolean"/>
                            <xs:element name="supportsNoCriteria" type="xs:boolean"/>
                            <xs:element name="supportsOrderBy" type="xs:boolean"/>
                            <xs:element name="supportsOuterJoin" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="maxSetSize" type="xs:int"/>
                <xs:element minOccurs="0" name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="value" type="xs:anyType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="groups"/>
                <xs:element minOccurs="0" ref="procedures"/>
                <xs:element minOccurs="0" ref="documents"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Group types -->
    <xs:element name="groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="group"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="group">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fullName" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="isPhysical" type="xs:boolean"/>
                <xs:element name="supportsUpdates" type="xs:boolean"/>
                <xs:element name="upperName" type="xs:string"/>
                <xs:element name="nameInSource" type="xs:string"/>
                <xs:element minOccurs="0" name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="value" type="xs:anyType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="elements"/>
                <xs:element minOccurs="0" ref="keys"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Element types -->
    <xs:element name="elements">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="element"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="element">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="groupName" type="xs:string"/>
                <xs:element name="groupFullName" type="xs:string"/>
                <xs:element name="position" type="xs:int"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="nameInSource" type="xs:string"/>
                <xs:element name="dataType" type="xs:string"/>
                <xs:element name="scale" type="xs:int"/>
                <xs:element name="elementLength" type="xs:int"/>
                <xs:element name="isAutoIncremented" type="xs:boolean"/>
                <xs:element name="isCaseSensitive" type="xs:boolean"/>
                <xs:element name="isCurrency" type="xs:boolean"/>
                <xs:element name="isLengthFixed" type="xs:boolean"/>
                <xs:element name="isSigned" type="xs:boolean"/>
                <xs:element name="supportsSelect" type="xs:boolean"/>
                <xs:element name="supportsUpdates" type="xs:boolean"/>
                <xs:element name="nullType" type="xs:string"/>
                <xs:element name="format" type="xs:string"/>
                <xs:element name="defaultValue" type="xs:string"/>
                <xs:element name="javaClass" type="xs:string"/>
                <xs:element name="groupUpperName" type="xs:string"/>
                <xs:element name="upperName" type="xs:string"/>
                <xs:element name="precision" type="xs:int"/>
                <xs:element name="charOctetLength" type="xs:int"/>
                <xs:element name="radix" type="xs:int"/>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element name="range">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="minRange" type="xs:string"/>
                            <xs:element name="maxRange" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="searchType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Searchable"/>
                            <xs:enumeration value="AllExceptLike"/>
                            <xs:enumeration value="Like"/>
                            <xs:enumeration value="Unsearchable"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="value" type="xs:anyType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Procedure types -->
    <xs:element name="procedures">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="procedure"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="procedure">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="nameInSource" type="xs:string"/>
                <xs:element name="modelUID" type="xs:string"/>
                <xs:element name="returnsResults" type="xs:boolean"/>
                <xs:element minOccurs="0" name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="value" type="xs:anyType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="parameters"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="parameter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="dataType" type="xs:string"/>
                <xs:element name="position" type="xs:int"/>
                <xs:element name="direction" type="xs:string"/>
                <xs:element name="optional" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Key types -->
    <xs:element name="keys">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="key"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="key">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="groupName" type="xs:string"/>
                <xs:element name="groupFullName" type="xs:string"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="nameInSource" type="xs:string"/>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="isIndexed" type="xs:boolean"/>
                <xs:element name="refKeyUID" type="xs:int"/>
                <xs:element name="groupUpperName" type="xs:string"/>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element minOccurs="0" ref="keyElements"/>
                <xs:element minOccurs="0" ref="keys"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="keyElements">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="keyElement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="keyElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="position" type="xs:int"/>
                <xs:element name="keyType" type="xs:string"/>
                <xs:element name="refKeyUID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Document types -->
    <xs:element name="documents">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="document"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fullName" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="modelName" type="xs:string"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="upperName" type="xs:string"/>
                <xs:element minOccurs="0" ref="elements"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Data type types -->
    <xs:element name="dataTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="dataType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element minOccurs="0" name="description" type="xs:string"/>
                <xs:element name="isPhysical" type="xs:boolean"/>
                <xs:element name="isStandard" type="xs:boolean"/>
                <xs:element name="isAutoIncremented" type="xs:boolean"/>
                <xs:element name="isCaseSensitive" type="xs:boolean"/>
                <xs:element name="isSigned" type="xs:boolean"/>
                <xs:element name="typeName" type="xs:string"/>
                <xs:element name="nullType" type="xs:string"/>
                <xs:element name="scale" type="xs:int"/>
                <xs:element name="typeLength" type="xs:int"/>
                <xs:element name="javaClass" type="xs:string"/>
                <xs:element name="precision" type="xs:int"/>
                <xs:element name="radix" type="xs:int"/>
                <xs:element name="runtimeType" type="xs:string"/>
                <xs:element name="baseType" type="xs:string"/>
                <xs:element name="searchType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Searchable"/>
                            <xs:enumeration value="AllExceptLike"/>
                            <xs:enumeration value="Like"/>
                            <xs:enumeration value="Unsearchable"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="value" type="xs:anyType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="dataTypeElements"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataTypeElements">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="dataTypeElement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataTypeElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="UID" type="xs:int"/>
                <xs:element name="position" type="xs:int"/>
                <xs:element name="scale" type="xs:int"/>
                <xs:element name="elementLength" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
